doctype 5
html
	head
		title #{title}
		link(rel="stylesheet", href="./stylesheets/style.css")
		meta (name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
		meta (http-equiv="cleartype", content="on")
		
		block head
			script(src="/javascripts/lib/jquery-1.9.1.min.js")
			script(src="/javascripts/can.jquery.min.js")
			script(src="/socket.io/socket.io.js")
			script(src="/javascripts/app.js")
			script(src="/javascripts/app/templates.js")
			script(src="/javascripts/app/models/room.js")
			script(src="/javascripts/app/controllers/gamecontroller.js")
			script(src="/javascripts/lib/dat.gui.min.js")
			script
				$(document).ready(function (){
					window.Application.boot({
					})
				});
