doctype 5
html
	head
		title #{title}
		link(rel="stylesheet", href="./stylesheets/style.css")
		
		block head
			script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
			script(src="/javascripts/can.jquery.min.js")
			script(src="/socket.io/socket.io.js")
			script(src="/javascripts/app.js")
			script(src="/javascripts/app/templates.js")
			script(src="/javascripts/app/models/room.js")
			script(src="/javascripts/app/controllers/gamecontroller.js")
			script(src="/javascripts/lib/dat.gui.min.js")
			script
				$(document).ready(function (){
					window.Application.boot({
					})
				});