
block append head
	script(src="http://debug.phonegap.com/target/target-script-min.js#accelerometer")
	script(src="/javascripts/mobilepaddle.js")

#mobileContent
	h1 Welcome to Node Pong. 
	<br>
	<br>
	button#player1 Join as Player 1
	button#player2 Join as Player 2
#player
#power
#paddlePosition
