
block append head
	script(src="/javascripts/pong.js")
#room
#canvas
	canvas#paper(width="900", height="475", style="margin: 50px auto; display: block;")
	#score
		span#p1_scr 0 
		span#p2_scr 0

#instructions
	h1 Welcome to NodePong

	ul#geturl
		li#qr
		li OR
		li#link goo.gl/AaUMT 
	#player1.currentPlayers Player 1
	#player2.currentPlayers Player 2

footer
	h2 Node Pong
	
