
block append head
	script(src="http://debug.phonegap.com/target/target-script-min.js#accelerometer")
	script(src="/javascripts/mobilepaddle.js")

body
	#mobileContent
		h2 Welcome to Node Pong. Choose player;
		button#player1 Join as Player 1
		button#player2 Join as Player 2
	#player
	#power