
block append head
	script(src="/javascripts/pong.js")
#score
	span#p1_scr
	span#p2_scr
	span#debug
canvas#paper(width="900", height="475", style="margin: 50px auto; display: block;")

#instructions
	h1 Welcome to NodePong	
	h2 Connect to CPB_STAFF wifi and go to http://labs.plus.cpbgroup.net/brochester/pong to play.
	ul
		#player1.currentPlayers Player 1
		#player2.currentPlayers Player 2
footer
	h2 Node Pong
	
