
block append head
	script(src="http://debug.phonegap.com/target/target-script-min.js#accelerometer")
	script(src="/javascripts/mobilepaddle.js")

#mobileContent
	h2 Get ready to play
	a#player1(href="#") Join as Player 1
	a#player2(href="#") Join as Player 2
	
