
block append head
	script(src="/javascripts/pong.js")
#score
	span#p1_scr
	span#p2_scr
	span#debug
canvas#paper(width="900", height="475", style="margin: 50px auto; display: block;")

#instructions
	h1 Welcome to NodePong, a beautiful spin on a simple game. Leveraging node.js, we are able to create websockets that offer instant access to sharing data with a website.
	h2 Waiting for players...
	ul
		li#player1 Player 1
		li#player2 Player 2
footer
	h2 Node Pong
	
