
block append head
	script(src="/javascripts/pong.js")
#score
	span#p1_scr
	span#p2_scr
	span#debug
canvas#paper(width="960", height="600", style="border: solid 1px #000; background: #FFF22D; margin: 0 auto; display: block;")

#instructions
	h1 Get Ready for NodePong!
	h2 Would you like to:
	a#Play(href="#") Play
	a#Watch(href="#") Watch

	
