/*-------------------------
	Simple reset
--------------------------*/


*
	margin:0
	padding:0

/*! normalize.css v2.1.0 | MIT License | git.io/normalize */

/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined in IE 8/9.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */

audio,
canvas,
video {
    display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */

[hidden] {
    display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-family: sans-serif; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
    margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */

abbr[title] {
    border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */

b,
strong {
    font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */

dfn {
    font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
    background: #ff0;
    color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */

code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */

pre {
    white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */

q {
    quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9.
 */

img {
    border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */

svg:not(:root) {
    overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari 5.
 */

figure {
    margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
    border: 0; /* 1 */
    padding: 0; /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */

button,
input,
select,
textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 2 */
    margin: 0; /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}



/*-------------------------
	General Styles
--------------------------*/


html	
	/* This will hide the extra canvas if the screen is small */
	overflow:hidden

		

body	
	font:14px/1.3 'Segoe UI',Arial, sans-serif
	color:#fff
	background: #3193a5

		

a, a:visited 	
	outline:none
	color:#fff

		

a:hover	
	text-decoration:none

		

section, footer, header
	display block



/*-------------------------
	Main Area
--------------------------*/


h1
	font-size 84px
	font-weight bold
	padding-bottom 8px
	text-align center


h2
	font-size 22px
	font-weight bold
	padding-bottom 8px



h3
	font-size 18px
	font-weight bold
	font-weight normal
	font-style italic
	color #999

#canvas
	position relative
	width 900px
	margin 0 auto


.rooms
	font-size 60px
	text-align center
	display block
	margin 20px 0


#formWrapper
	width 410px
	margin 0 auto


#formWrapper input[type="text"]
	width: 400px;
	height: 120px;
	font-size: 50px;
	border: none;


#formWrapper input[type="submit"]
	width 400px;
	height 120px;
	font-size 50px;
	border none;
	margin 10px 0 

#instructions
	position absolute
	top 0
	padding 20px;
	margin 50px 80px
	width 700px
	text-align: center
	background-color rgba(255, 255, 255, 0.7)
	color #000

#geturl 
	overflow hidden
	
#geturl li
	display inline-block
	float left
	text-align center
	width 10%
	height 230px;
	line-height 100px;


#geturl #qr
	background url('../images/1367511948-5889.svg') no-repeat
	display block
	background-size 70%
	background-position 40px 0
	width 45%

	
#geturl li#link 
	width 45%
	font-size 35px
	font-weight bold


#score 
	position absolute
	bottom 0
	left 0
	width 900px
	font-size 65px
	
#score span
	width 430px
	display block
	float left

#p1_scr 
	text-align right
	margin-right 30px

#p2_scr 
	text-align left
	
.currentPlayers
	display block
	width 50%
	float left
	margin 35px 0
	text-align center
	position relative


.dg
	display none

/*----------------------------
	Mobile View
-----------------------------*/
#mobileContent h1
	font-size 100px
	font-weight bold
	padding-bottom 8px
	text-align center

#mobileContent #player1
	display block
	height 200px
	width 90%
	margin 0 auto 100px auto
	font-size 80px


#mobileContent #player2
	display block
	height 200px
	width 90%
	margin 0 auto
	font-size 80px



.connected:after
	background url('../images/checkmark.png') no-repeat
	height 30px
	width 35px
	display block
	content " "
	position absolute
	right -17px
	top -8px




/*----------------------------
	The Footer
-----------------------------*/

footer
	background-color #111111
	bottom 0
	box-shadow 0 -1px 2px rgba(0,0,0,0.4)
	height 45px
	left 0
	position fixed
	width 100%
	z-index 100000


footer h2
	color #EEEEEE
	font-size 14px
	font-weight normal
	left 50%
	margin-left -400px
	padding 13px 0 0
	position absolute
	width 540px


footer h2 i
	font-style:normal
	color:#888


footer a.tzine,a.tzine:visited
	color #999999
	font-size 12px
	left 50%
	margin 16px 0 0 110px
	position absolute
	text-decoration none
	top 0


footer a i
	color:#ccc
	font-style normal


footer a i b
	color:#c92020
	font-weight normal



/*----------------------------
	Mobile View
-----------------------------*/


@media (max-width:1024px)
	
	@-viewport
		640px
		user-scalable 0
		width device-width
	
	body
		background-color black

	
	h2
		text-align center

	button
		display block
		height 200px
		width 90%
		margin 0 auto 100px auto
		font-size 80px
		font-weight bold

	.super-button{
		-webkit-box-shadow: rgba(0, 0, 0, 0.496094) 0px 1px 3px 0px;
		-webkit-font-smoothing: antialiased;
		background-color: #333;
		background-image: url('/images/alert-overlay.png');
		border-bottom-color: rgba(0, 0, 0, 0.246094);
		border-radius: 5px;
		border-bottom-style: solid;
		border-bottom-width: 1px;
		border-left-color: rgb(255, 255, 255);
		border-left-style: none;
		border-left-width: 0px;
		border-right-color: rgb(255, 255, 255);
		border-right-style: none;
		border-right-width: 0px;
		border-top-color: rgb(255, 255, 255);
		border-top-style: none;
		border-top-width: 0px;

		color: rgb(255, 255, 255);
		display: inline-block;
		margin: 10px 0;
		
		outline-color: rgb(255, 255, 255);
		outline-style: none;
		outline-width: 0px;

		padding-bottom: 9px;
		padding-left: 14px;
		padding-right: 14px;
		padding-top: 8px;
		position: relative;
		text-align: left;
		text-decoration: none;
		text-rendering: optimizelegibility;
		text-shadow: rgba(0, 0, 0, 0.246094) 0px -1px 1px;
		
		width: 220px;
		font-size: 24px;
		font-style: normal;
		font-weight: bold;
		height: 50px;
		line-height: 14px;
		cursor: pointer;
		
	}
	.super-button:hover
		background-image none

	#mobileContent
		border-top solid 4px #ec008c

	#mobileContent h1
		font-size 100px
		font-weight bold
		padding-bottom 8px
		text-align center

	.logo
		width 110px
		height 23px
		margin 10px auto
		display block

	
	



