/*-------------------------
	Simple reset
--------------------------*/
* {
  margin: 0;
  padding: 0;
}
/*-------------------------
	General Styles
--------------------------*/
html {
/* This will hide the extra canvas if the screen is small */
  overflow: hidden;
}
body {
  font: 14px/1.3 'Segoe UI', Arial, sans-serif;
  color: #fff;
  background: #3193a5;
}
a,
a:visited {
  outline: none;
  color: #fff;
}
a:hover {
  text-decoration: none;
}
section,
footer,
header {
  display: block;
}
/*-------------------------
	Main Area
--------------------------*/
#instructions {
  position: fixed;
  background-color: rgba(255,255,255,0.7);
  width: 400px;
  top: 50%;
  left: 50%;
  margin: -120px 0 0 -225px;
  text-align: center;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 3px rgba(100,100,100,0.1), 0 3px 1px #d4d4d4;
  color: #000;
}
h1 {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 8px;
  text-align: center;
}
h2 {
  font-size: 22px;
  font-weight: bold;
  padding-bottom: 8px;
}
h3 {
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
  color: #999;
}
#container {
  width: 960px;
  margin: 0 auto;
}
#canvas {
  position: relative;
}
ul#geturl li {
  display: inline-block;
  float: left;
  text-align: center;
  width: 20px;
  height: 150px;
  line-height: 100px;
}
ul#geturl #qr {
  background: url("../images/1367511948-5889.svg") no-repeat;
  display: block;
  background-size: 70%;
  width: 200px;
}
ul#geturl li#link {
  width: 180px;
}
#score {
  position: absolute;
  bottom: 30px;
  width: 50px;
  left: 425px;
}
.connected:after {
  background: url("../images/checkmark.png") no-repeat;
  height: 30px;
  width: 35px;
  display: block;
  content: " ";
  position: absolute;
  right: -17px;
  top: -8px;
}
.currentPlayers {
  display: block;
  width: 100px;
  float: left;
  position: relative;
}
/*----------------------------
	Mobile View
-----------------------------*/
#mobileContent h1 {
  font-size: 100px;
  font-weight: bold;
  padding-bottom: 8px;
  text-align: center;
}
#mobileContent #player1 {
  height: 200px;
  width: 90%;
  margin: 0 auto 100px auto;
  font-size: 80px;
}
#mobileContent #player2 {
  height: 200px;
  width: 90%;
  margin: 0 auto;
  font-size: 80px;
}
/*----------------------------
	The Footer
-----------------------------*/
footer {
  background-color: #111;
  bottom: 0;
  box-shadow: 0 -1px 2px rgba(0,0,0,0.4);
  height: 45px;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 100000;
}
footer h2 {
  color: #eee;
  font-size: 14px;
  font-weight: normal;
  left: 50%;
  margin-left: -400px;
  padding: 13px 0 0;
  position: absolute;
  width: 540px;
}
footer h2 i {
  font-style: normal;
  color: #888;
}
footer a.tzine,
a.tzine:visited {
  color: #999;
  font-size: 12px;
  left: 50%;
  margin: 16px 0 0 110px;
  position: absolute;
  text-decoration: none;
  top: 0;
}
footer a i {
  color: #ccc;
  font-style: normal;
}
footer a i b {
  color: #c92020;
  font-weight: normal;
}
